body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/library-books-shelves.jpg");
    background-size: cover;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*.search-bar {
  font-weight: bold;
  color: black;
  padding: 10px 10px;
  float: right;
  height: 24px;
}

.search-box {
  height: 24px;
  width: 300px;
}*/

.pbandj-logo {
  float: left;
  padding: 12px 16px;
}

/*Screen Split*/
.column {
    float: left;
}
.left, .right {
    width: 25%;
}

.middle{
    width: 48%;
}


/*Add Board Game Form*/
label {
    padding: 7px;
    font-weight: bold;
    display: block;
    /*display: flex;*/
    margin-bottom: 0.25rem;
    color: #2d3748;
}

.card {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    box-shadow: 0 20px 25px -5px rgba(255, 215, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transition: 0.3s;
    width: 97.33%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: sienna;
    margin: 15px;
    position: center;
    justify-content: center;
    /*text-align: center;*/
    background-color: #f2eecb;
}

.scroll-box {
    overflow-y: scroll;
    height: 84vh;
    padding: 10px 20px;
    margin: 20px;
    width: auto;
}
.scroll-description {
    overflow-y: scroll;
    height: 23vh;
    padding: 10px 20px;
    margin: 20px;
    width: auto;
}

.search-result {
    height: 91vh;
}

.book-window {
    height: 60vh;
}

.book-pages {
    background-image: url("images/bookPages.jpg");
}

.book-description{
    height: 30vh;
}

.shelf{
    height: 91vh
}

.header {
    height: 50px;
    /*padding: 1px 1px;*/
}

h2.title{
    float: left;
    margin: 10px;
}
h3.title {
    margin: 20px;
    padding-top: 50px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*Drop Down*/
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 15px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/*Book Window Image*/
img {
    height: 100%;
    width: auto;
}

.bookmark{
    float: right;
}

.book-image{
    height: 600px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
  font-weight: bold;
  color: black;
  padding: 10px 10px;
  float: right;
  height: 24px;
}

.search-box {
  height: 24px;
  width: 300px;
}

.page-name {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
}

/* Style the form submit button */
#form-submit {
    text-align: center;
    position: relative;
    cursor: pointer;
    transition-duration: 0.4s;
    display: block;
    margin: 20px auto;
    width: 85px;
    height: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/*#form-submit button:hover {
    background-color: #9E9FA0;
    color: white;
}*/

.card h3 {
    text-align: left;
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
}

/* Form Styling */
input {
    width: 208px;
    height: 30px;
    position: center;
}

#collection-name {
    width: 275px;
    height: 33px;
    position: center;
    padding: 5px;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
    /* uniform text field size */
    box-sizing: border-box;
    width: 275px;
    padding: 5px;
    /* match form field borders */
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    /* Set uniform font setting for the form */
    font: 1em sans-serif;
    position: center;
}

input::placeholder {
    color: #a0aec0;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #a0aec0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-clip: padding-box;
}

textarea {
    /* Align multi-line text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
    color: #000000;
}

textarea::placeholder {
    color: #a0aec0;
}

.control-group .form-group {
    margin-bottom: 2rem;
    position: relative;
    height: 50px;
    width: 100%;
    text-align: center;
}

.controls {
    margin-top: 20px;
}

/*!* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}

/* End of Form Styling */

/* Footer */
.row-footer {
    color: #000000;
    font-size: 0.7em;
    float: left;
    position: fixed;
    bottom: 0;
}

.back-to-top {
    position: relative;
    z-index: 2;
}

.back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #008793;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #00bf72;
    border-color: #2e2e2e; }


/* Table Styling */
table {
    border-collapse: collapse;
    border: 1px solid #7f7f7f;
    border-spacing: 0;
    color: #4a4a4d;
    font: 12px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th,
td {
    padding: 10px 15px;
    vertical-align: middle;
}

th {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}

td {
    border: 1px solid #7f7f7f;
    /*width: 50px;*/
    /*height: 50px;*/
    /*text-align: center;*/
}




